<div class="container">
  <div class="row">
    <div class="col-md-3">
<h2>User info</h2>
<table>
  <tbody>
    <tr>
      <th>name</th>
      <th><%= @book_mybook.user.name %></th>
      <%= image_tag @book_mybook.user.get_profile_image(100,100) %>
    </tr>
    <tr>
      <th>introduction</th>
      <th><%= @book_mybook.user.introduction%></th>
    </tr>
   </tbody>
</table>
<%= link_to edit_user_path(@user.id), class: "btn btn-outline-secondary btn-block" do %>
<i class="fas fa-user-cog"></i>
<% end %>
<h2>New book</h2>

<%= form_with model: @book do |f| %>
<div class="field">
  <%= f.label :title %><br>
  <%= f.text_field :title %>
</div>
<div class="field">
  <%= f.label :Opinion %><br>
  <%= f.text_area :body %>
</div>
  <%= f.submit 'Create Book', class: "btn btn-success" %>
<% end %>
   </div>
<div class="col-md-8 offset-md-1">
<h2>Book detail</h2>
<div class="col-md-8 offset-md-1">
<table class="table">
  <thead>
    <tr></tr>
  </thead>
  <tbody>
    <tr>
      <td><%= image_tag @book_mybook.user.get_profile_image(100,100) %><%= link_to @book_mybook.user.name, user_path(@book_mybook.user.id)%></td>
      <td><%= link_to @book_mybook.title, book_path(@book_mybook.id)%></td>
      <td><%=@book_mybook.body%></td>
      <% if @user == current_user %>
      <td><%= link_to "Edit", edit_book_path(@book_mybook.id), class: "btn btn-success"%></td>
      <td><%= link_to "Destroy", book_path(@book_mybook.id), class: "btn btn-sm btn-danger", method: :delete %></td>
      <% end %>
    </tr>
  </tbody>
</table>
 </div>
  </div>
   </div>
     </div>
